<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/header.ejs", {name : "One Message"}) %>
  </head>
  <body
    class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Preloader -->
      <%- include("./templates/preloader.ejs") %>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-widget="control-sidebar"
              data-slide="true"
              href="#"
              role="button"
            >
              <i class="fas fa-th-large"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <%- include("./templates/leftMenu.ejs") %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content" style="margin-top: 70px">
          <div class="container-fluid">

            <div class="card-header">
                <h3 class="card-title">About ID <%= message.id %></h3>
      
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                
                <h1><b>Number</b> : <%= message.number %></h1>

                <% if(message.stats == "sent"){ %>
                    <p style="text-align: right; direction: rtl;" class="badge badge-success persian">وضعیت : ارسال شده</p>
                <% }else if(message.stats == "pending"){ %>
                    <p style="text-align: right; direction: rtl;" class="badge badge-warning persian">وضعیت : در صف ارسال</p>
                    <form action="/messages/<%= message.id %>/delete" method="post" class="float-right">
                      <button class="persian btn btn-sm btn-danger float-left" type="submit"">حذف از لیست</button>
                    </form>
                <% }else if(message.stats == "sending"){ %>
                    <p style="text-align: right; direction: rtl;" class="badge badge-warning persian">وضعیت : درحال ارسال</p>
                <% }else if(message.stats == "skipped"){ %>
                    <p style="text-align: right; direction: rtl;" class="badge badge-danger persian">وضعیت : ارسال نشده</p>
                <% } %>
                <p style="border-top: 1px solid rgba(0,0,0,.05); text-align: right; direction: rtl;" class="persian"><b>متن پیام :</b></p>
                <p style="direction: rtl; text-align: right;" class="persian"><%= message.message %></p>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                Pishtazan 912 - Message Lookup
              </div>

            </div>

          </div>
          <!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/js/pages/dashboard2.js"></script>

  </body>
</html>
